<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<div style="text-align:center;vertical-align:top;">
	
	<form action="{% url 'feed' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="My Feed"/></form>
	
	<form action="{% url 'index' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="Logout"/>
	</form>

</div>

<h1>{{ content.name }}</h1>
<h2>Album: {{ content.album.name }}</h2>

<img src="{{content.url}}">

</br>
{% if comments %}
    <ul style="list-style: none;">
        {% for comment in comments %}
        <li> {{comment.user.user.username}}: {{comment.comment}} </li>
        {% endfor %}
    </ul>
{% else %}
    <p> No comments </p>
{% endif %}
</br>

<form action="{% url 'get_content' content.id %}" method="post">
    {% csrf_token %}
    <label>Comment: </label>
    <input type="text" name="comment" />
    </br>
    <input value="Submit" type="submit"/>
</form>

<form action="{% url 'get_content' content.id %}" method="post">
    {% csrf_token %}
    <label>Current Rating: 
        {% if rating %} 
            {{rating.rating}}
        {% else %} 
            Unrated
        {% endif %}
    </label>
    </br>
    <label>Change Rating: </label>
    {% if range %}
    <select name="rating">
        {% for i in range %}
            <option value={{i}}> {{i}}</option>
        {% endfor %}
    </select>
    {% endif %}
    </br>
    <input value="Submit" type="submit"/>
</form>


{% if is_owner %}

<form action="{% url 'get_content' content.id %}" method="post">
    {% csrf_token %}

    <label>Change Privacy of Content: </label>
    <select name="a_privacy">
        <option value="0">Only Me</option>
        <option value="1">My Friends</option>
        <option value="2">Global</option>
    </select>
    </br>
    <input value="Submit" type="submit"/>
</form>
{% endif %}

