<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>
<div style="text-align:center;vertical-align:top;">
	
	<form action="{% url 'feed' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="My Feed"/></form>
	
	<form action="{% url 'index' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="Logout"/>
	</form>

</div>

<h1>New Album</h1>

{% if trips %}
    <form action="{% url 'createalbum' %}" method = "post">
        {%csrf_token%}
        <label> Name: </label>
        <input type="text" name="name" />
        </br>
        <label> Trips: </label>
            <select name="trip_id">
              {% for trip in trips %}
                  <option value="{{ trip.id }}"> {{ trip.name }} </option>
              {% endfor %}
            </select>
        </br>

        <label> Privacy Level: </label>
        <select name="privacy">
            <option value="0">Only Me</option>
            <option value="1">My Friends</option>
            <option value="2">Global</option>
        </select>

        </br>

        <input value="Submit" type="submit"/>
    </form>
{% else %}
    <p> No trips available. Go make or join a trip!</p>
{% endif %}
