<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>
<div style="text-align:center;vertical-align:top;">
	
	<form action="{% url 'feed' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="My Feed"/></form>
	
	<form action="{% url 'index' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="Logout"/>
	</form>

</div>

<h1>New Trip</h1>

<form action="{% url 'createtrip' %}" method = "post">
    {% csrf_token %}
    <label> Trip Name: </label>
    <input type="text" name="name" />
    </br>
    <label>Location: </label>
    <input type="text" name="location" />
    </br>
    <label>Image: </label>
    <input type="url" name="image" />
    </br>
    <label>Privacy Level of Trip: </label>
    <select name="privacy">
        <option value="0">Only Me</option>
        <option value="1">My Friends</option>
        <option value="2">Global</option>
    </select>
    <input value="Submit" type="submit"/>
</form>

