<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<h1>New Album</h1>

<form action="{% url 'createalbum' %}" method = "post">
    {%csrf_token%}
    <label> Name: </label>
    <input type="text" name="name" />
    </br>
    <label> Trips: </label>
    {% if trips %}
        <select name="trip_id">
          {% for trip in trips %}
              <option value="{{ trip.id }}"> {{ trip.name }} </option>
          {% endfor %}
        </select>
    {% else %}
        <p> No trips available. </p>
    {% endif %}

    </br>
    <input value="Submit" type="submit"/>
</form>

