<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
    </style>
</head>
<div style="text-align:center;vertical-align:top;">

	<form action="{% url 'feed' %}" method="post">
		{% csrf_token %}
	<input type="submit" value="My Feed"/> | <form action="{% url 'index' %}" method="post">
		{% csrf_token %}
	<input type="submit" value="Logout"/>	

</div>

<h1>My Friends</h1>

<form action="{% url 'friends' %}" method="post">
    {% csrf_token %}
    <input type="text" name="friend">
    <input type="submit" value="Send Friend Request">
</form>

{% if friend_requests %}
    <ul style="list-style: none;">
        {% for friend in friend_requests %}
            <li>
            <a href="/user/{{friend}}/">{{friend}} is requesting you!</a>
            <form action="{% url 'friends' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="accept" value="{{friend}}"/>
                <input type="submit" value="Add friend!"/>
            </form>
            <form action="{% url 'friends' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="decline" value="{{friend}}"/>
                <input type="submit" value="Decline Request"/>
            </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if friends %}
    <ul style="list-style: none;">
        {% for friend in friends %}
            <li><a href="/user/{{friend.user.username}}/">{{friend.user.username}}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% if others %}
    <p>Make some friends!</p>
        <ul style="list-style: none">
            {% for other in others %}
                <li>
                <a href="/user/{{other.user.username}}/">{{other.user.username}}</a>
                <form action="{% url 'friends' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="friend" value="{{other.user.username}}"/>
                    <input type="submit" value="Request friend!"/>
                </form>
                </li>
            {% endfor %}
        </ul>
{% endif %}
