{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tripster/style.css' %}" />

<h1><u>Welcome to the virtual plaza</u></h1>

<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>

<form action="{% url 'friends' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="My Friends"/>
</form>

<form action="{% url 'createtrip' %}">
    {% csrf_token %}
    <input type="submit" value="Make a Trip">
</form>

<form action="{% url 'change_settings' %}">
    {% csrf_token %}
    <input type="submit" value="Settings">
</form>

<form action="{% url 'view_trips' %}">
    {% csrf_token %}
    <input type="submit" value="My Trips">
</form>

<form action="{% url 'createalbum' %}">
    {% csrf_token %}
    <input type="submit" value="Make an album">
</form>

MEDIA_URL = 'mysite/tripster/templates/tripster'
<audio autoplay = "autoplay">
     <source src="{{MEDIA_URL}}audio/vaporwave.ogg"/>
</audio>

{% if trips %}
    {% for trip in trips %}
    <h2> {{trip.name}} </h2><br>
    <h3> Host: {{trip.host.user.username}}</h3><br>
    IMAGE<br>
    {% endfor %}
{% endif %}

