{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tripster/style.css' %}" />

<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<h1><u><i>WELCOME TO THE VIRTUAL PLAZA</u></i></h1>


<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>

<TABLE BORDER="0">
<TR>

<TD><form action="{% url 'friends' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="My Friends"/>
</form></TD>

<TD><form action="{% url 'createtrip' %}">
    {% csrf_token %}
    <input type="submit" value="Make a Trip">
</form></TD>

<TD><form action="{% url 'change_settings' %}">
    {% csrf_token %}
    <input type="submit" value="Settings">
</form></TD>

<TD><form action="{% url 'view_trips' %}">
    {% csrf_token %}
    <input type="submit" value="My Trips">
</form></TD>

<TD><form action="{% url 'createalbum' %}">
    {% csrf_token %}
    <input type="submit" value="Make an album">
</form></TD>
</TR>

</TABLE>


{% if trips %}
    {% for trip in trips %}
    <h2> {{trip.name}} </h2><br>
    <h3> Host: {{trip.host.user.username}}</h3><br>
    IMAGE<br>
    {% endfor %}
{% endif %}

