<h1>Hi</h1>

<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>

<form action="{% url 'friends' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="My Friends"/>
</form>

<form action="{% url 'createtrip' %}">
    {% csrf_token %}
    <input type="submit" value="Make a Trip">
</form>

<form action="{% url 'change_settings' %}">
    {% csrf_token %}
    <input type="submit" value="Settings">
</form>

<form action="{% url 'view_trips' %}">
    {% csrf_token %}
    <input type="submit" value="My Trips">
</form>

<form action="{% url 'createalbum' %}">
    {% csrf_token %}
    <input type="submit" value="Make an album">
</form>

<audio autoplay="autoplay" controls="controls">  
   <source src="audio/vaporwave.ogg" /> 
   <source src="audio/vaporwave.mp3" /> 
</audio> 

{% if trips %}
    {% for trip in trips %}
    <h2> {{trip.name}} </h2><br>
    <h3> Host: {{trip.host.user.username}}</h3><br>
    IMAGE<br>
    {% endfor %}
{% endif %}

