<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<h1>Login</h1>

<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label> Username: </label>
    <input type="text" name="username" />
    </br>
    <label> Password: </label>
    <input type="password" name="password" />
    </br>
    <input value="Log In" type="submit"/>
</form>

<form action="{% url 'register' %}">
    {% csrf_token %}
    <input value="Sign Up" type="submit"/>
</form>

