<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<h1>Settings</h1>

<form action="{% url 'settings' %}" method="post">
    {% csrf_token %}
    <label> Affiliation: </label>
    <input type="text" name="affiliation" value="{{user.affiliation}}"/>
    </br>
    <label> Age: </label>
    <input type="number" name="age" value="{{user.age}}"/>
    </br>
    <label> Gender: </label>
    <input type="text" name="gender" value="{{user.gender}}"/>
    </br>
    <label> Profile Picture: </label>
    <input type="url" name="url" value="{{user.url}}"/>
    </br>
    <label> Privacy Level of Profile: </label>
    <select name="privacy">
        {% for p_level in priv_level  %}
            <option value="{{ forloop.counter0 }}"> {{ p_level }}</option>
        {% endfor %}
    </select>
    <input value="Submit" type="submit"/>

</form>
