<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<h1>My Trips</h1>

{% if trip_requests %}
    <h2>Trip Requests</h2>
    <ul>
        {% for request in trip_requests %}
        <li><a href="/trip/{{request.trip.id}}/">Do you want to join {{request.trip.name}}?</a></li>
        <form action="{% url 'view_trips' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="accept" value="{{request.id}}"/>
            <input type="submit" value="Join trip!"/>
        </form>
        <form action="{% url 'view_trips' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="decline" value="{{request.id}}"/>
            <input type="submit" value="Decline Request"/>
        </form>
        {% endfor %}
    </ul>
{% endif %}

<h2>Hosted Trips</h2>
{% if trip_list %}
    <ul>
        {% for trip in trip_list %}
        <li><a href="/trip/{{trip.id}}/">{{trip.name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No trips are available.</p>
{% endif %}


<h2>Joined Trips</h2>
{% if joined_trip_list %}
    <ul>
        {% for trip in joined_trip_list %}
        <li><a href="/trip/{{trip.id}}/">{{trip.name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not joined any trips!</p>
{% endif %}

