<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>

<h1>{{ trip.name }}</h1>
<h2>Host: {{trip.host.user.username}}</h2>

{% if locations_list %}
    <ul style="list-style: none;">
        {% for location in locations_list %}
        <!-- <li><a href="location/{{location.name}}/">{{location.name}}</a></li> -->
        <li> {{location.name}} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No locations in this trip.</p>
{% endif %}

<form action="{% url 'get_trip' trip_id %}" method="post">
    {% csrf_token %}
    <label>Add location: </label>
    <input type="text" name="location" />
    </br>
    <input value="Submit" type="submit"/>
</form>

{% if participants %}
    <ul style="list-style: none;">
        {% for participant in participants %}
        <li> {{participant.user.username}} </li>

        {% endfor %}
    </ul>
{% else %}
    <p>No participants in this trip.</p>
{% endif %}


{% if albums %}
    <ul style="list-style: none;">
        {% for album in album %}
        <li> {{album.name}} </li>

        {% endfor %}
    </ul>
{% else %}
    <p>No albums in this trip.</p>
{% endif %}



<form action="{% url 'get_trip' trip_id %}" method="post">
    {% csrf_token %}
    <label>Add participant: </label>
    <input type="text" name="participant"/>
    </br>
    <input value="Submit" type="submit"/>
</form>

<h2>My Trip Albums</h2>
{% if albums %}
    <ul style="list-style: none;">
        {% for album in albums %}
            <li><a href="/album/{{album.id}}/">{{album.name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no albums in this trip!</p>
{% endif %}

</br>

{% if comments %}
    <ul style="list-style: none;">
        {% for comment in comments %}
        <li> {{comment.user.user.username}}: {{comment.comment}} </li>
        {% endfor %}
    </ul>
{% endif %}

<form action="{% url 'get_trip' trip_id %}" method="post">
    {% csrf_token %}
    <label>Add Comment: </label>
    <input type="text" name="comment"/>
    </br>
    <input value="Submit" type="submit"/>
</form>

<form action="{% url 'get_trip' trip_id %}" method="post">
    {% csrf_token %}
    <label>Current Rating: 
        {% if rating %} {{rating.rating}}
        {% else %} Unrated
        {% endif %}
    </label>
    </br>
    <label>Change Rating: </label>
    {% if range %}
    <select name="rating">
        {% for i in range %}
        <option value={{i}}> {{i}}</option>
        {% endfor %}
    </select>
    {% endif %}
    </br>
    <input value="Submit" type="submit"/>
</form>

{% if is_host %}
    <label>Change Privacy of Trip: </label>
    <select name="privacy">
        <option value="0">Only Me</option>
        <option value="1">My Friends</option>
        <option value="2">Global</option>
    </select>
    <input value="Submit" type="submit"/>
{% endif %}

