<head>
    <style>
        body {background-color:#FF819D}
        h1   {color:#6CFBB8}
        h2   {color:#CE7044}
        h3   {color:#AD6DA9}
    </style>
</head>
<div style="text-align:center;vertical-align:top;">
	
	<form action="{% url 'feed' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="My Feed"/></form>
	
	<form action="{% url 'index' %}" method="post">
			{% csrf_token %}
		<input type="submit" value="Logout"/>
	</form>

</div>

<h1>{{ username }}</h1>
<h2>Affilitation: {{ t_user.affiliation }}</h2>
<h2>Age: {{ t_user.age }}</h2>
<h2>Gender: {{ t_user.gender }}</h2>

<h2>Profile Picture</h2>
{% if user_profile_pic %}
    <img src="{{user_profile_pic}}" width="512">
{% else %}
    No user profile pic
{% endif %}

<h2>Dream Locations</h2>
{% if dream_location_list %}
    <ul>
        {% for location in dream_location_list %}
                <li> {{location}} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No dream locations!</p>
{% endif %}

<h2> My Trips </h2>
{% if trips_list %}
    <ul>
        {% for trip in trips_list %}
            <li><a href="/trip/{{trip.id}}/">{{trip.name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No trips!</p>
{% endif %}

<h2> My Friends </h2>
{% if friends_list %}
    <ul>
        {% for friend in friends_list %}
            <li><a href="/user/{{friend.username}}/">{{friend.username}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{t_user.user.name}} has no friends!</p>
{% endif %}


<h2> Visited Locations </h2>
{% if visited_locations %}
    <ul>
        {% for location in visited_locations %}
            <li>{{location.name}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No visited locations!</p>
{% endif %}
