<h1>{{ t_user.user.username }}</h1>
<h2>Affilitation: {{ t_user.affiliation }}</h2>

{% if dream_location_list %}
    <ul>
        {% for location in dream_location_list %}
                <li> {{location.name}} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{t_user.name}} has no dream locations!</p>
{% endif %}

<h2> My Trips </h2>
{% if trips_list %}
    <ul>
        {% for trip in trips_list %}
            <li><a href="trip/{{trip.id}}/">{{trip.name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{t_user.user.name}} has no trips!</p>
{% endif %}

<h2> My Friends </h2>
{% if friends_list %}
    <ul>
        {% for friend in friends_list %}
            <li><a href="user/{{friend.username}}/">{{friend.username}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{t_user.user.name}} has no friends!</p>
{% endif %}

<h2> Recommend </h2>

<form action="{% url 'get_userprofile' t_user.user.username %}" method="post">
    {% csrf_token %}
    <label>Recommend location </label>
        {% if visited_locations %}
        <select name="location">
            {% for loc in visited_locations %}
                <option value="{{ loc.name }}"> {{ loc.name }}</option>
            {% endfor %}
        </select>
        {% endif %}
    <label> to </label>
        {% if friends_list %}
        <select name="friends">
            {% for friend in friends_list %}
                <option value="{{ friend.id }}"> {{ friend.username }}</option>
            {% endfor %}
        </select>
        {% endif %}
    <input value="Recommend friend" type="submit"/>
</form>
